src/conf/xml-resources/web-service-references/consultClients/wsdl/localhost_8080/ConsultService/consultClients.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://clients/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://clients/">

<xs:element name="clientes" type="tns:clientes"/>

<xs:element name="getAllClients" type="tns:getAllClients"/>

<xs:element name="getAllClientsResponse" type="tns:getAllClientsResponse"/>

<xs:element name="getClientByID" type="tns:getClientByID"/>

<xs:element name="getClientByIDResponse" type="tns:getClientByIDResponse"/>

<xs:complexType name="getClientByID">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClientByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:clientes" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clientes">
<xs:sequence>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numCredencial" type="xs:string" minOccurs="0"/>
<xs:element name="numeroTarjeta" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllClients">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllClientsResponse">
<xs:sequence>
<xs:element name="return" type="tns:clientes" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>