src/conf/xml-resources/web-service-references/consultVideogames/wsdl/localhost_8080/ConsultService/consultVideogames.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://videogames/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://videogames/">

<xs:element name="getAllVideogames" type="tns:getAllVideogames"/>

<xs:element name="getAllVideogamesResponse" type="tns:getAllVideogamesResponse"/>

<xs:element name="getVideogameByID" type="tns:getVideogameByID"/>

<xs:element name="getVideogameByIDResponse" type="tns:getVideogameByIDResponse"/>

<xs:element name="inventariovideojuegos" type="tns:inventariovideojuegos"/>

<xs:element name="videojuegos" type="tns:videojuegos"/>

<xs:complexType name="getAllVideogames">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllVideogamesResponse">
<xs:sequence>
<xs:element name="return" type="tns:videojuegos" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="videojuegos">
<xs:sequence>
<xs:element name="clasificacion" type="xs:string" minOccurs="0"/>
<xs:element name="consola" type="xs:string" minOccurs="0"/>
<xs:element name="fabricante" type="xs:string" minOccurs="0"/>
<xs:element name="genero" type="xs:string" minOccurs="0"/>
<xs:element name="inventariovideojuegos" type="tns:inventariovideojuegos" minOccurs="0"/>
<xs:element name="numCatalogo" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="version" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inventariovideojuegos">
<xs:sequence>
<xs:element name="disponibilidad" type="xs:int"/>
<xs:element name="existencia" type="xs:int"/>
<xs:element name="numCatalogo" type="xs:string" minOccurs="0"/>
<xs:element name="videojuegos" type="tns:videojuegos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideogameByID">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideogameByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:videojuegos" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>